.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*.container h2 { in case they don't want the h2 centered
    align-self: end;
} */ 

.movieData {
    background-color: lightskyblue;
    border: 2px solid black;
    width: auto;
}

tr td:first-child {
    font-style: italic;
}